<!-- section Sponsors strat -->
<section id="section-sponsors">
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-md-6 partner-img-block">
                
            </div>

            <div class="col-md-6">
                <div class="section-heading text-center wow fadeInUp">
                    <h2>Media Partners</h2>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 wow fadeInUp" data-wow-delay=".2s">
                        <div class="sponsor sponsor_pb"> <a href="http://stacja.it" target="_blank"><img src="assets/img/client/stacja.png" alt="" class="img-responsive center-block"></a> </div>
                    </div>
                    <div class="col-md-6 col-sm-6 wow fadeInUp" data-wow-delay=".2s">
                        <div class="sponsor sponsor_pb"> <a href="https://fintek.pl" target="_blank"><img src="assets/img/client/fintek.jpg" alt="" class="img-responsive center-block"></a> </div>
                    </div>
                    <div class="col-md-6 col-sm-6 wow fadeInUp" data-wow-delay=".2s">
                        <div class="sponsor sponsor_pb"> <a href="https://programistamag.pl/" target="_blank"><img src="assets/img/client/programistamag.jpg" alt="" class="img-responsive center-block"></a> </div>
                    </div>
                    <div class="col-md-6 col-sm-6 wow fadeInUp" data-wow-delay=".2s">
                        <div class="sponsor sponsor_pb"> <a href="https://kodolamacz.pl/" target="_blank"><img src="assets/img/client/kodolamacz.png" alt="" class="img-responsive center-block"></a> </div>
                    </div>
                    <div class="col-md-6 col-sm-6 wow fadeInUp" data-wow-delay=".2s">
                        <div class="sponsor sponsor_pb"> <a href="https://pydata.org/warsaw2018/" target="_blank"><img src="assets/img/client/pydata.png" alt="" class="img-responsive center-block"></a> 
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
<!-- section sponsors end -->
