<section id="section-schedule" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading text-center">
                    <h2>Agenda</h2>
                    <p>The schedule of AI &amp; NLP Workshop Day is tentative and may change in the coming weeks.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="tab-content">
                <div class="tab-pane fade in active">
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 20px 10px;">
                                        <h4>08:00 - 08:45</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Registration and coffee</h3>
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 20px 10px;">
                                        
                                        <h4>08:45 - 09:00</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Opening and Welcome Speech</h3>
                                        
                                        
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 70px 10px;">
                                        
                                        <h4>09:00 - 09:45</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Train, explain, acclaim - Build a good model in three steps</h3>
                                        <h4>Przemysław Biecek</h4>
                                        <h5>Associate Professor at Warsaw University of Technology / Principal Data Scientist at Samsung SRPOL</h5>
                                        <p>Would you choose a model with high accuracy or a model that is easier to understood and explain? In this talk I will argue that in the long term the latter is more important. Embrace the power of XAI - eXplainable Artificial Intelligence.</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/pbiecek.jpg" alt="" class="img-responsive"> </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 70px 10px;">
                                        
                                        <h4>09:45 - 10:30</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Cyberbullying and Online Violence: from Detection to Reduction</h3>
                                        <h4>Gniewosz Leliwa</h4>
                                        <h5>Director of AI research and co-founder of Samurai Labs</h5>
                                        <p>Detection of cyberbullying and online violence itself is a very complex and challenging task. Yet it is just the first step. This talk is about the methods we use at Samurai Labs to move from detection to reduction. The author will provide a big-picture view on the problem and try to answer how the ultimate goal of reduction affects the real-life requirements of detection and how Samurai Labs deals with these requirements.</p>
                                    </div>
                                </div> 
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/gleliwa.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <ul class="nav nav-tabs " id="schedule-tab">
                <li class="active col-md-3 col-sm-3 col-xs-12">
                    <a href="#tab-a" data-toggle="tab">
                        <h3>Track 1 <br>(ML/AI)</h3> </a>
                </li>
                <li class="col-md-3 col-sm-3 col-xs-12">
                    <a href="#tab-b" data-toggle="tab">
                        <h3>Track 2 <br>(Big Data)</h3> </a>
                </li>
                <li class="col-md-3 col-sm-3 col-xs-12">
                    <a href="#tab-c" data-toggle="tab">
                        <h3>Track 3 <br>(NLP)</h3> </a>
                </li>
                <li class="col-md-3 col-sm-3 col-xs-12">
                    <a href="#tab-d" data-toggle="tab">
                        <h3>Track 4 <br>(PolEval 2019)</h3> </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab-a">
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time">
                                        <h3>ML/AI Workshop</h3>
                                        <h4>10:45 - 12:15</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Working with images in Azure using Vision API</h3>
                                        <h4>Kamil Mrzygłód</h4>
                                        <h5>Senior Software Developer at Demant Technology Centre / Microsoft Azure MVP / Trainer at Sages</h5>
                                        <p>Azure Cognitive Services are a set of advanced APIs, which allow you to quickly build intelligent applications hosted in the cloud. During the workshop, you will learn the basics of this particular service using one of its components - Vision API. We will try to perform simple exercises like face detection, emotion detection and handwriting recognition and compare the result with custom models and services.</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/kmrzyglod.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end       -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 80px 10px;">
                                        <h3>ML/AI Workshop</h3>
                                        <h4>12:30 - 14:00</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>TensorFlow Object Detection API</h3> 
                                        <h4>Karol Majek</h4>
                                        <h5>Organizer of Warsaw Self-Driving Cars regular meetups</h5>
                                        <p>During the workshop you will learn how to prepare a dataset for object detection task, which tools to use to annotate images and videos. I will show you the training and evaluation process. Finally you will run object detection on your laptop using video from webcam or file. The first part will require laptop with Internet browser and the second part will require Python, TensorFlow and OpenCV installed.</p>                                    
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/kmajek.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <!-- time desc end       -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-xs-12 col-sm-12">
                                    <div class="b-time">
                                        <h4>Lunch Break</h4> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end       -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time">
                                        <h3>ML/AI Workshop</h3>
                                        <h4>14:45 - 16:15</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Understanding LSTM and GRU networks in PyTorch</h3> 
                                        <h4>Piotr Migdał</h4>
                                        <h5>Deep Learning Consultant at p.migdal.pl</h5>
                                        <p>Long short-term memory (LSTM) and gated recurrent unit (GRU) network are popular network architectures for text processing. During this workshop (held in PyTorch) we will work with them in a low-level way, getting access to memory cells and intermediate states. Targeted at people using LSTMs/GRUs as black boxes OR have a background in other network architectures and would like to understand natural language processing with deep learning.</p>                                    
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/pmigdal.jpeg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end       -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time">
                                        <h3>ML/AI Workshop</h3>
                                        <h4>16:30 - 18:00</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Why does machine learning need adversaries?</h3>
                                        <h4>Anna Wróblewska</h4>
                                        <h5>Senior Data Scientist at Applica / Assistant Professor at Warsaw University of Technology</h5>
                                        <h4>Kamil Grabowski</h4>
                                        <h5>MSc student in Data Processing and Analysis at WUT / Data Scientist at Applica.ai</h5>    
                                        <p>Adversaries work as a villain in disguise - a model predictions are incorrect for them. This occurs even in those cases in which the input data are very similar to the data that model can interpret correctly. Sometimes adversaries prepared in a very bright deliberate way make the model totally foolish. We will tell about how to make more robust models, vaccinate them against adversaries or other perturbations.</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/team12.jpg" alt="" class="img-responsive"> </div>
                                    <div class="speaker-img" style="margin-top: 30px;"> <img src="assets/img/speaker/kgrabowski.png" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>                 
                    <!-- time desc end       -->
                </div>
                <div class="tab-pane fade in" id="tab-b">
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time">
                                        <h3>Big Data Workshop</h3>
                                        <h4>10:45 - 12:15</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Text processing in Apache Spark</h3>
                                        <h4>Patryk Pilarski</h4>
                                        <h5>Data Scientist / Trainer at Sages / Ph.D. student at PJATK & SWPS</h5>
                                        <p>Text processing at scale - from several books to thousands of volumes. In this workshop we will build a scalable system for book authorship attribution using Apache Spark. In the process we will see how to extract meaningful features from text and how to use them to infer who the author is. All of this using Python, Spark SQL and Spark ML.</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/ppilarski.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end       -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time">
                                        <h3>Big Data Workshop</h3>
                                        <h4>12:30 - 14:00</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Getting started with BigQuery ML for data analysts</h3>
                                        <h4>Radosław Stankiewicz</h4>
                                        <h5>Strategic Cloud Engineer at Google</h5>
                                        <p>BigQuery Machine Learning  is a new feature in BigQuery where data analysts can create, train, evaluate, and predict with machine learning models with minimal coding. In this lab, you will explore datasets and create machine learning models inside BigQuery. Prerequisites - GCP account with billing set up (credit card need to be provided to GCP but we won’t go beyond free tier).</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/rstankiewicz.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end       -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-xs-12 col-sm-12">
                                    <div class="b-time">
                                        <h4>Lunch Break</h4> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end       -->


                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 80px 10px;">
                                        <h3>Big Data Workshop</h3>
                                        <h4>14:45 - 16:15</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Predicting typed words using n-grams - introduction to NLP in Azure Machine Learning Studio</h3>
                                        <h4>Katarzyna Pakulska</h4>
                                        <h4>Łukasz Wójcik</h4>
                                        <p>In this workshop we will build an Azure Machine Learning Studio Experiment in which we will train a model using the n-grams extracted from various data sources. Then we will use this model in our text editor to predict what user would want to type. In the first part of the workshop we will present typical blocks and cloud cognitive services related with NLP in Microsoft Azure. In the second part we will present how to build a tip suggester for search from scratch</p>
                                        </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/team5.jpg" alt="" class="img-responsive"> </div>
                                    <div class="speaker-img" style="margin-top: 30px;"> <img src="assets/img/speaker/lwojcik.png" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                         
                    <!-- time desc end       -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time"  style="padding: 80px 10px;">
                                        <h3>Big Data Workshop</h3>
                                        <h4>16:30 - 18:00</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Kubeflow and Kubeflow Pipelines</h3>
                                        <h4>Michał Żyliński</h4>
                                        <h5>Customer Engineer at Google</h5>
                                        <p>In this session, you will learn how to install and use Kubeflow Pipelines to create a full machine learning application on Kubernetes.Starting with an empty environment, you will create a Kubernetes cluster and install Kubeflow from scratch. Then you will build and run a full pipeline that first trains a model using TensorFlow, then serves the model, and finally deploys a web front-end for interacting with the resulting predictions. You will then move into a notebook to build and run your pipeline using the Python SDK.</p>
                                    </div>
                                </div>
                                    <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/mzylinski.jpg" alt="" class="img-responsive"> </div>
                                    </div>
                            </div>
                        </div>
                    </div>

                    <!-- time desc end       -->
                </div>
                <div class="tab-pane fade in" id="tab-c">
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time">
                                        <h3>NLP Workshop</h3>
                                        <h4>10:45 - 12:15</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Creating R Shiny application for drug names comparison</h3>
                                        <h4>Paweł Ekk-Cierniakowski</h4>
                                        <h5>Advanced Analytics Expert at Polpharma / Trainer at Sages / PhD Student at Warsaw School of Economics</h5>
                                        <p>The workshop will be divided into theoretical and practical part. The first part will be the theory of measuring string distances. The second part will be devoted to the implementation of this theory by using R libraries to build application in R Shiny comparing drug names.</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                <div class="speaker-img"> <img src="assets/img/speaker/pcierniakowski.JPG" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>            
                    <!-- time desc end       -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time"  style="padding: 140px 10px;">
                                        <h3>NLP Workshop</h3>
                                        <h4>12:30 - 14:00</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Dependency Parsing</h3>
                                        <h4>Alina Wróblewska</h4>
                                        <h5>Assistant professor at ICS PAS</h5>
                                        <p>Dependency parsing is a crucial issue in various NLP tasks. The predicate-argument structure transparently encoded in dependency-based syntactic representations may support machine translation, question answering, sentiment analysis, etc. In the workshop, I will present the fundamental ideas of the dependency theory, selected dependency-based resources, and some state-of-the-art dependency parsing systems.</p> 
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                <div class="speaker-img"> <img src="assets/img/speaker/alinawroblewska.JPG" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end       -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-xs-12 col-sm-12">
                                    <div class="b-time">
                                        <h4>Lunch Break</h4> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end       -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time">
                                        <h3>NLP Workshop</h3>
                                        <h4>14:45 - 16:15</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Neural Network Models of Text Normalization for Speech Applications</h3>
                                        <h4>Paweł Cyrta</h4>
                                        <h5>Speech Research Scientist at Rev.ai / AI Consultant at Metamedia Technologies</h5>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                <div class="speaker-img"> <img src="assets/img/speaker/pcyrta.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>            
                    
                    <!-- time desc end       -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time">
                                        <h3>NLP Workshop</h3>
                                        <h4>16:30 - 18:00</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Solving NLP tasks using CLARIN-PL web services API</h3>
                                        <h4>Michał Marcińczuk and Maciej Piasecki</h4>
                                        <h5>Wrocław University of Technology</h5>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                <div class="speaker-img"> <img src="assets/img/speaker/mm.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end       -->
                </div>
                <div class="tab-pane fade in" id="tab-d">
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 30px 10px;">
                                        
                                        <h4>10:45 - 11:00</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>PolEval 2019 - introduction</h3>
                                        <h4>Maciej Ogrodniczuk</h4>
                                        
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- time desc end       -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 30px 10px; background: #34a1ef1a;">
                                        
                                        <h4>11:00 - 11:15</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>PolEval Task 1 Results</h3>
                                        <h4>Jan Kocoń</h4>
                                        
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- time desc end       -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 30px 10px; background: #34a1ef1a;">
                                        
                                        <h4>11:15 - 11:30</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Alium_01</h3>
                                        <h4>Marcin Bodziak</h4>
                                        
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 20px 10px; background: #34a1ef1a;">
                                        
                                        <h4>11:30 - 11:35</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3> Award for the Task 1 Winners</h3>
                                        
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 30px 10px;">
                                        
                                        <h4>11:35 - 11:50</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>PolEval Task 2 Results</h3>
                                        <h4>Michał Marcińczuk</h4>
                                        
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 30px 10px;">
                                        
                                        <h4>11:50 - 12:05</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>zbronk.nlp.studio</h3>
                                        <h4>Zbigniew Bronk</h4>
                                        
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 20px 10px;">
                                        
                                        <h4>12:05 - 12:15</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3> Award for the Task 2 Winners</h3>
                                        
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>


                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 30px 10px; background: #34a1ef1a;">
                                        
                                        <h4>12:30 - 12:45</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>PolEval Task 3 Results</h3>
                                        <h4>Aleksander Smywiński-Pohl</h4>
                                        
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 30px 10px; background: #34a1ef1a;">
                                        
                                        <h4>12:45 - 13:00</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Cheeky Mouse</h3>
                                        <h4>Szymon Roziewski</h4>
                                        
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 20px 10px; background: #34a1ef1a;">
                                        
                                        <h4>13:00 - 13:05</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3> Award for the Task 3 Winners</h3>
                                        
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 30px 10px;">
                                        
                                        <h4>13:05 - 13:20</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>PolEval Task 4 Results</h3>
                                        <h4>Krzysztof Wołk</h4>
                                        
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 30px 10px;">
                                        
                                        <h4>13:20 - 13:35</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>SRPOL</h3>
                                        <h4>Marcin Chochowski</h4>
                                        
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 30px 10px;">
                                        
                                        <h4>13:35 - 13:50</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Deeplf</h3>
                                        <h4>Łukasz Podlodowski</h4>
                                         
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 20px 10px;">
                                        
                                        <h4>13:50 - 14:00</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3> Award for the Task 4 Winners</h3>
                                         
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <!-- time desc end       -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-xs-12 col-sm-12">
                                    <div class="b-time">
                                        <h4>Lunch Break</h4> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end       -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 30px 10px; background: #34a1ef1a;">
                                        
                                        <h4>14:45 - 15:00</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>PolEval Task 5 Results</h3>
                                        <h4>Danijel Koržinek</h4>
                                          
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- time desc end       -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 30px 10px; background: #34a1ef1a;">
                                        
                                        <h4>15:00 - 15:15</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>ARM-1</h3>
                                        <h4>Marek Lange</h4>
                                        
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 20px 10px; background: #34a1ef1a;">
                                        
                                        <h4>15:15 - 15:20</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3> Award for the Task 5 Winners</h3>
                                        
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- time desc end       -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 30px 10px;">
                                        
                                        <h4>15:20 - 15:35</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>PolEval Task 6 Results</h3>
                                        <h4>Michał Ptaszyński</h4>
                                          
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 30px 10px;">
                                        
                                        <h4>15:35 - 15:50</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>n-Waves</h3>
                                        <h4>Piotr Czapla, Marcin Kardas</h4>
                                        
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 30px 10px;">
                                        
                                        <h4>15:50 - 16:05</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Przetak</h3>
                                        <h4>Marcin Ciura</h4>
                                        
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 20px 10px;">
                                        
                                        <h4>16:05 - 16:15</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Award for the Task 6.1 Winner</h3>
                                        
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 30px 10px;">
                                        
                                        <h4>16:30 - 16:45</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>model1-svm</h3>
                                        <h4>Maciej Biesek</h4>
                                        
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 30px 10px;">
                                        
                                        <h4>16:45 - 17:00</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>ensamble spacy + tpot + BERT</h3>
                                        <h4>Renard Korzeniowski, Rafał Rolczyński, Przymysław Sadownik, Tomasz Korbak, Marcin Możejko</h4>
                                        
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 20px 10px;">
                                        
                                        <h4>17:00 - 17:05</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3> Award for the Task 6.2 Winner</h3>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- row end  -->
    </div><!-- container end  -->
</section>
