	<!--  section SPEAKERS start  -->
	<section id="section-speaker" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="section-heading">
                        <h2>Speakers</h2>
                        <p>We have a great lineup of speakers from science and business. Here we introduce you to some of them.</p>
                    </div>
                    <div class="col-md-12" style="
    margin-top: 142px;
    padding-left: 0;
    padding-right:  0;
">
                    <div class="row">
                        <div class="carousel slide" id="speaker-carousel">
                            <div class="carousel-inner">
                                    <div class="item active">
                                        <div class="col-md-6 col-sm-6" style="
">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/ppilarski.jpg" alt="" class="img-responsive">
                                                </div>

                                                <div class="speaker-info">
                                                    <h4>Patryk Pilarski</h4>
                                                    <p>Data Scientist / trainer at Sages / Ph.D. student at PJATK & SWPS</p>
                                                    <ul class="list-inline speaker-social"> 
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="
">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/rstankiewicz.jpg" alt="" class="img-responsive">
                                                </div>
                                                <div class="speaker-info">
                                                    <h4>Radosław Stankiewicz</h4>
                                                    <p>Strategic Cloud Engineer at Google</p>
                                                    <ul class="list-inline speaker-social">
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="
">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/kmrzyglod.jpg" alt="" class="img-responsive">
                                                </div>
                                                <div class="speaker-info">
                                                    <h4>Kamil Mrzygłód</h4>
                                                    <p>Senior Software Developer at Demant Technology Centre / Microsoft Azure MVP / Trainer at Sages</p>
                                                    <ul class="list-inline speaker-social">
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="
">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/kmajek.jpg" alt="" class="img-responsive">
                                                </div>
                                                <div class="speaker-info">
                                                    <h4>Karol Majek</h4>
                                                    <p>Organizer of Warsaw Self-Driving Cars regular meetups</p>
                                                    <ul class="list-inline speaker-social">
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="
">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/mm.jpg" alt="" class="img-responsive">
                                                </div>
                                                <div class="speaker-info">
                                                    <h4>Michał Marcińczuk</h4>
                                                    <p>Wrocław University of Technology</p>
                                                    <ul class="list-inline speaker-social">
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="
">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/mzylinski.jpg" alt="" class="img-responsive">
                                                </div>
                                                <div class="speaker-info">
                                                    <h4>Michał Żyliński</h4>
                                                    <p>Customer Engineer at Google</p>
                                                    <ul class="list-inline speaker-social">
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                         <div class="col-md-6 col-sm-6" style="
">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/gleliwa.jpg" alt="" class="img-responsive">
                                                </div>
                                                <div class="speaker-info">
                                                    <h4>Grzegorz Leliwa</h4>
                                                    <p>Director of AI research and co-founder of Samurai Labs</p>
                                                    <ul class="list-inline speaker-social">
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="
">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/pbiecek.jpg" alt="" class="img-responsive">
                                                </div>
                                                <div class="speaker-info">
                                                    <h4>Przemysław Biecek</h4>
                                                    <p>Associate Professor at Warsaw University of Technology / Principal Data Scientist at Samsung SRPOL</p>
                                                    <ul class="list-inline speaker-social">
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    <!--item end-->

                            </div>
                        </div>
                    </div><!-- row end  -->
                </div>
            </div>
        </div>
                <div class="col-md-6">
                    <div class="col-md-12" style="
    padding-left: 0;
    padding-right:  0;
">
                    <div class="row">
                        <div class="carousel slide">
                            <div class="carousel-inner">
                                    <div class="item active">
                                        
                                        <div class="col-md-6 col-sm-6">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/pcierniakowski.JPG" alt="" class="img-responsive">
                                                </div>
                                                <div class="speaker-info">
                                                    <h4>Paweł Ekk-Cierniakowski</h4>
                                                    <p>Advanced Analytics Expert at Polpharma / Trainer at Sages / PhD Candidate at Warsaw School of Economics</p>
                                                    <ul class="list-inline speaker-social">
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="
">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/pcyrta.jpg" alt="" class="img-responsive">
                                                </div>
                                                <div class="speaker-info">
                                                    <h4>Paweł Cyrta</h4>
                                                    <p>Speech Research Scientist at Rev.ai / AI Consultant at Metamedia Technologies</p>
                                                    <ul class="list-inline speaker-social">
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6" style="
">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/kgrabowski.png" alt="" class="img-responsive">
                                                </div>
                                                <div class="speaker-info">
                                                    <h4>Kamil Grabowski</h4>
                                                    <p>MSc student in Data Processing and Analysis at WUT / Data Scientist at Applica.ai</p>
                                                    <ul class="list-inline speaker-social">
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="
">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/team12.jpg" alt="" class="img-responsive">
                                                </div>
                                                <div class="speaker-info">
                                                    <h4>Anna Wróblewska</h4>
                                                    <p>Senior Data Scientist at Applica / Assistant Professor at Warsaw University of Technology</p>
                                                    <ul class="list-inline speaker-social">
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="
">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/alinawroblewska.JPG" alt="" class="img-responsive">
                                                </div>
                                                <div class="speaker-info">
                                                    <h4>Alina Wróblewska</h4>
                                                    <p>Assistant professor at ICS PAS</p>
                                                    <ul class="list-inline speaker-social">
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="
">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/pmigdal.jpeg" alt="" class="img-responsive">
                                                </div>
                                                <div class="speaker-info">
                                                    <h4>Piotr Migdał</h4>
                                                    <p>Deep Learning Consultant at p.migdal.pl</p>
                                                    <ul class="list-inline speaker-social">
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="
">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/team5.jpg" alt="" class="img-responsive">
                                                </div>
                                                <div class="speaker-info">
                                                    <h4>Katarzyna Pakulska</h4>
                                                    <ul class="list-inline speaker-social">
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="
">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/lwojcik.png" alt="" class="img-responsive">
                                                </div>
                                                <div class="speaker-info">
                                                    <h4>Łukasz Wójcik</h4>
                                                    <ul class="list-inline speaker-social">
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    <!--item end-->

                            </div>
                        </div>
                    </div><!-- row end  -->
                </div>
            </div>
        </div>
        
    </div>
</div>
    </section>
    <!--  section SPEAKERS end  -->
