<!-- section Sponsors strat -->
<section id="section-sponsors">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="section-heading text-center wow fadeInUp">
                    <h2>Proud Organizers</h2>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay=".2s">
                        <div class="sponsor"> <a href="http://sages.com.pl" target="_blank"><img src="assets/img/client/sages.png" alt="" class="img-responsive center-block"></a> </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay=".4s">
                        <div class="sponsor"> <a href="http://zil.ipipan.waw.pl" target="_blank"><img src="assets/img/client/zil.png" alt="" class="img-responsive center-block"></a> </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay=".6s">
                        <div class="sponsor"> <a href="https://ipipan.waw.pl/en/" target="_blank"><img src="assets/img/client/ipilogo.png" alt="" class="img-responsive center-block"></a> </div>
                    </div>
                </div>
                <div class="section-heading text-center wow fadeInUp">
                    <h2>Our Sponsors</h2>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 wow fadeInUp" data-wow-delay=".2s">
                        <h3 class="col-xs-12 sponsor_color">Silver Sponsor</h3>
                        <div class="col-xs-6 sponsor"> <a href="https://www.samsung.com/pl/aboutsamsung/careers/oferty-pracy/" target="_blank"><img src="assets/img/client/samsung.png" alt="" class="img-responsive center-block"></a> </div>
                        <div class="col-xs-6 sponsor"> <a href="https://www.samurailabs.ai/" target="_blank"><img src="assets/img/client/samurai.png" alt="" class="img-responsive center-block"></a> </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12 col-sm-12 wow fadeInUp" data-wow-delay=".2s">
                        <h3 class="col-xs-12 sponsor_color">Brown Sponsor</h3>
                        <div class="col-xs-6 sponsor"> <a href="https://talkie.ai/" target="_blank"><img src="assets/img/client/talkieai.png" alt="" class="img-responsive center-block"></a> </div>
                        <div class="col-xs-6 sponsor"> <a href="https://sigdelta.com/" target="_blank"><img src="assets/img/client/sigdelta.png" alt="" class="img-responsive center-block"></a> </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 sponsor-img-block">
                
            </div>
        </div>
    </div>
</section>
<!-- section sponsors end -->
